{% extends 'base.html'%}

{% block content %}

<div class="container">
	<div class="row-fluid">
		<div class="span4">
			<div class="well sidebar-nav">
				 <h3><a href="/group/{{group.id}}">{{group.groupname}}</a></h3>
		      <div>
		      	<li>master:<a href="/blog/{{group.master.id}}/">{{group.master.username}}</a></li>
		      </div>
		      {% if user in group.members.all%}
		      <div style="padding:10px 0px 0px">
		      	<div>
		      	<a href="/add_member/{{group.id}}/" class="btn btn-success">add member</a>
		      	</div>
		      	{% if user == group.master%}
				<div style="padding:5px 0px 0px">
		      	<a href="/del_group/{{group.id}}/" class="btn btn-success">del group</a>
		     	</div>
		      	{% endif %}
		      </div>
		      {% else%}
		      <div style="padding:5px 0px 0px">
		      	<a href="/add_group/{{group.id}}/" class="btn btn-success">add group</a>
		      </div>
		      {% endif %}
		      
		    </div>

		      <div class="row-fluid">
		    	<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li><a href="/blog/{{user.id}}/">我的小组话题</a></li>
						<li><a href="">回应小组话题</a></li>
					</ul>
		    	</div>
		    </div>
		    <div class="row-fluid">
		    	<div class="well sidebar-nav">
					<h3>zuijin jiaru</h3>
					{% for member in group.members.all%}
					<li><a href="/blog/{{member.id}}/">{{member.username}}</a></li>
					{% endfor %}

		    	</div>
		    </div>
		</div>
		<div class="span8">
			<div class="well sidebar-nav">
			
  <form class="form-horizontal" method="post" action="">{% csrf_token %}
    <fieldset>
      <div id="legend" class="">
        <legend class="">小组话题</legend>
      </div>
    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01"><img src="{{user.prouser.headimg}}" alt="" width=40px height=40px></label>
          <div class="controls">
            <input type="text" placeholder="请输入标题" class="input-xlarge" name="title">
          </div>
        </div>

    <div class="control-group">
          <!-- Textarea -->
          <label class="control-label"></label>
          <div class="controls">
            <div class="textarea">
                  <textarea type="" name="content" style="margin: 0px; width: 421px; height: 244px;"> </textarea>
            </div>
          </div>
        </div>
    <div class="control-group">
          <label class="control-label"></label>

          <!-- Button -->
          <div class="controls">
            <button type="submit" class="btn btn-success">提交</button>
          </div>
        </div>

    </fieldset>
  </form>

			</div>
			
		</div>
	</div>
</div>
{% endblock %}