{% extends 'base.html'%}
{% block title%} blog{%endblock%}

{%block content%}
	<div class="container-fluid">
		<div class="row-fluid">
		    <div class="span3 div-style">
				<h3>{{user.username}}</h3>
				{% if me != user%}
				<div>
					<li><a href="">+attention</a></li>
					<li><a href="/letter/{{user.id}}/">+letter</a></li>
				</div>
				{% else%}
				<div>
					<li><a href="">+setting</a></li>
				</div>
				{% endif %}

		    </div>
		    <div class="span8 div-style">
		      <div>
		     		<h3>my information</h3>
		     		<p></p>
		      </div>
		    </div>
		</div>
	</div>

{%endblock%}