{% extends 'base.html'%}
{% block title%}index{%endblock%}

{%block content%}

	<div class="container">
		{% load markup %}
		<div class="row-fluid">
			<div class="span4">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li><a href="/blog/{{user.id}}/">我发起的活动</a></li>
						<li><a href="">我的小组话题</a></li>
						<li><a href="">我回应的活动</a></li>
						<li><a href="/create_group/">申请小组</a></li>
					</ul>
				</div>
				<div class="row-fluid">
					<div class="well sidebar-nav" style="width:332px;height:250px;">
						<h3>热门小组</h3>
					<ul class="nav nav-list">
						{% for group in group_list %}
						<li><a href="/group/{{group.id}}/">{{group.groupname}}</a></li>
						{% endfor %}
						
					</div>
				</div>
				<div class="row-fluid">
					<div class="well sidebar-nav" style="width:332px;height:250px;">
						<h3>热门话题</h3>
					</div>
				</div>			
			</div>
			<div class="span7">
				<div class="span12">
					<div class="row-fluit">
						<ul>
							<li>
								<i class="icon-comment"></i>
									说句话
							</li>
						</ul>
						<textarea style="width:650px" ></textarea>
						<hr/>
					</div>
				</div>
				<div class="span12">
					<div class="row-fluit">
						{% for article in article_list %}
						<div class="well sidebar-nav codehilite">
							<ul>
								<li>
									<img src="{{article.author.prouser.headimg}}" alt="" width="50px">
									<h5>作者:{{article.author}}</h5>
									<p> 标题 :{{article.title}}</p>
									<p> 内容 :{{article.content|markdown:'codehilite'}}</p>
									<p> 发表时间 : {{article.create_time|date:"m/d/Y"}} 来自 {{article.group}}小组</p>
									<a class="btn btn-primary" href="/topic/{{article.id}}/" data-toggle="modal">回帖 »</a>									
								</li>							
							</ul>
						</div>
						<hr/>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{%endblock%}
