{% extends 'base.html'%}
{% block title%}index{%endblock%}

{%block content%}
	<div class="container">
		<div class="row-fluid">
			<div class="span4">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li><a href="">我发起的活动</a></li>
						<li><a href="">我的小组话题</a></li>
						<li><a href="">我回应的活动</a></li>
						<li><a href="/create_group/">shenqingxiaozu</a></li>
					</ul>
				</div>
				<div class="row-fluid">
					<div class="well sidebar-nav" style="width:332px;height:250px;">
						<h3>remen xiaozu</h3>
					</div>
				</div>
				<div class="row-fluid">
					<div class="well sidebar-nav" style="width:332px;height:250px;">
						<h3>remen huati</h3>
					</div>
				</div>			
			</div>
			<div class="span7">
				<div class="span12">
					<div class="row-fluit">
						<ul>
							<li>
								<i class="icon-comment"></i>
									说句话
							</li>
						</ul>
						<textarea style="width:650px" ></textarea>
						<hr/>
					</div>
				</div>
				<div class="span12">
					<div class="row-fluit">
						<div class="well sidebar-nav">
							<ul>
								<li>
										<img src="http://tb.himg.baidu.com/sys/portrait/item/6142c8a8bca6d3bf48454152540f30" alt="" width="50px">
										<h5>bbb的Join东东：</h5>
										<p>title</p>
										<p>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</p>
										<h6>2分钟前</h6>	
										<a class="btn btn-primary" href="/replay/{{post.id}}/" data-toggle="modal">回帖 »</a>									
								</li>							
							</ul>
						</div>
						<hr/>
						<div class="well sidebar-nav">
							<ul>
								<li>
										<img src="http://tb.himg.baidu.com/sys/portrait/item/415bcfabd7d364656d617530" alt="" width="50px">
										<h5>ccc的Join东东：</h5>
										<p>title</p>
										<p>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</p>
										<h6>2分钟前</h6>	
										<a class="btn btn-primary" href="/replay/{{post.id}}/" data-toggle="modal">回帖 »</a>									
								</li>							
							</ul>
						</div>
						<hr/>
					</div>
				</div>
			</div>
		</div>
	</div>
{%endblock%}