{% extends 'base.html'%}
{% block title%}index{%endblock%}

{%block content%}
	<div class="container-fluid">
		<div class="row-fluid">
		    <div class="span3 div-style">
		    	<div class="row-fluid">
					<h3>group</h3>
					{% for group in group_list%}
						{% if group.isPublic%}
						<div>
							<li><a href="/group/{{group.id}}/">{{group.groupname}}</a></li>
						</div>
						{% endif%}
					{% endfor %}

		  		</div>
		  		{% if user.username %}
		  		<div class="row-fluid">
		  			<h3>my group</h3>
					{% for mygroup in user.member.all%}
					<div>
						<li><a href="/group/{{mygroup.id}}/">{{mygroup.groupname}}</a></li>
					</div>
					{% endfor %}
		  		</div>
		  		{% endif %}
		      <div style="padding:15px 0px 0px">
		      	<a href="/create_group/" class="btn btn-success">create group</a>
		      </div>
<!-- 		      <div style="padding:15px 0px 0px">
		      	<a href="/invite_member/" class="btn btn-success">add member</a>
		      </div> -->
		    </div>
		    <div class="span8 div-style">
		      <!--Body content-->
		    </div>
		</div>
	</div>

{%endblock%}