{% extends 'base.html'%}
{% block title%} my mail{%endblock%}

{%block content%}
	<div class="container-fluid">
		<div class="row-fluid">
		    <div class="span3 div-style">
		    	<img src="{{user.prouser.headimg}}"  alt="123" height=40px width=40px>
				<h3>{{about_user.username}}</h3>
				{% if about_user != user%}
				<div>
					<li><a href="/attention/{{about_user.id}}/">+attention</a></li>
					<li><a href="/letter/{{about_user.id}}/">+letter</a></li>
				</div>
				{% else%}
				<div>
					<li><a href="/account/{{user.id}}">+setting</a></li>
				</div>
				{% endif %}

		    </div>
		    <div class="span8 div-style">
		      <div>
		     		{%if about_user == user%}
		     		<h3>letter</h3>
		     		{% for letter in letter_list%}
			     		{%if letter.invite_id %}
			     		<div><span>{{letter.create_time|date:"Y-m-s"}}</span>
						<span>{{letter.post_user}} invite add group</span>
						<a href="/add_group/{{letter.invite_id}}/" class="btn btn-success">add</a>
			     		</div>
			     		{% endif%}
		     		<div><span>{{letter.create_time|date:"Y-m-s"}}</span>
		     			<span>
		     			<a href="/blog/{{letter.post_user.id}}/">{{letter.post_user}}</a>
		     			</span>
		     			<span>{{letter.letter}}</span>
		     		</div>
		     		{% endfor %}
		     		{% endif%}
		      </div>
		    </div>
		</div>
	</div>

{%endblock%}